<div class="container">
  <img class="imgEmail" matListAvatar src = 'assets\images\emailicon.png'>
  <input type="email" placeholder="abc@mail..." autofocus>
</div>
<br>
<div class="container2">
  <img class="imgPW" matListAvatar src = 'assets\images\senhaicon.jpg'>
  <input type="password" placeholder="******">
</div>
<br>
<div >
  <button class="bntSair" mat-raised-button color="warn" routerLink="">Sair</button>
  <button class="bntEntrar" mat-raised-button color="primary" routerLink="/menu">Entrar</button>
</div>
